:root {}

/* Default Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 17px;
  line-height: 1.706em;
  font-weight: 400;
  color: #707070;
  background-color: #fff;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}


ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.bg-light {
  background-color: #f9f9f9;
}

a,
a:active {
  color: inherit;
  text-decoration: none;
}

.pt80 {
  padding: 80px 0;
}

.bb-gray {
  border-bottom: 1px solid #d0d0d0
}

/* Bar Style */
.bar-container {
  position: fixed;
  top: 64px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #f2f2f2;
  z-index: 30;
}

.bar {
  height: 100%;
  background-color: #007bff;
  transition: width 0.2s ease-in-out;
}

/* Page Title Styles */
.page-title {
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.page-title:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000a8;
  z-index: 1;
}

.page-title .container {
  position: relative;
  z-index: 2;
}

.page-title .page-title-content .marked {
  position: relative;
  margin-bottom: 15px;
  display: block;
  margin-left: 70px;
  font-size: 13px;
  font-weight: 200;
  letter-spacing: 1px;
  color: #fff;
}

.page-title .page-title-content h2 {
  font-size: 52px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 25px;
}

.page-title .page-title-content p {
  opacity: 0.8;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.3px;
  margin: 0;
}

.page-title .page-title-content .marked:before {
  content: '';
  position: absolute;
  top: 50%;
  left: -70px;
  width: 50px;
  height: 1px;
  background: #fff;
  transform: translateY(-50%);
}

/* End Page Title */

/* End Default Styles */

/* Navbar Style */
a.navbar-brand img {
  height: 50px;
}

a.navbar-brand {
  margin: 0;
  padding: 7px 0;
}

nav.navbar li.nav-item .nav-link {
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 600;
  font-size: 14px;
  position: relative;
}

nav.navbar li.nav-item .nav-link.active {
  color: #007575;
}

.navbar-buttons ul li a.nav-link {
  color: inherit;
}

nav.navbar li.nav-item .nav-link:before {
  content: '';
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
  width: 100%;
  height: 0px;
  background: #007575;
  opacity: 0;
  transition: all .3s linear;
}

nav.navbar li.nav-item .nav-link:hover {
  color: #000;
}

nav.navbar li.nav-item .nav-link.active:before {
  height: 3px;
  opacity: 1;
}

nav.navbar li.nav-item .nav-link:hover:before {
  height: 2px;
  opacity: .3;
}

nav.navbar {
  padding: 0;
}

nav.navbar li.nav-item {
  margin-right: 35px;
}

nav.navbar li.nav-item:last-of-type {
  margin: 0;
}

.navbar-buttons ul {
  display: flex;
  align-items: center;
  column-gap: 25px;
}

.navbar-buttons ul li a {
  color: black;
}

/* End Navbar */

/* Start Section title */
.section-title .marked {
  position: relative;
  margin-bottom: 15px;
  display: block;
  margin-left: 70px;
  font-size: 13px;
  font-weight: 200;
  letter-spacing: 1px;
}

.section-title .marked:before {
  content: '';
  position: absolute;
  top: 50%;
  left: -70px;
  width: 50px;
  height: 2px;
  background: #111;
  transform: translateY(-50%);
}

.section-title h2 {
  font-family: Roboto, sans-serif;
  font-weight: 600;
  color: #000;
  font-size: 55px;
  line-height: 1.182em;
  letter-spacing: -.02em;
  margin: 0;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

/* End Section title */


/* Start Intro Style */
.intor {
  background-size: cover;
  height: 84vh;
  background-position: center bottom;
}

/* End Intro */

/* About Style */
.about-simple-img img {
  width: 100%;
  border-radius: 5px;
}

.about-simple-content .marked {
  position: relative;
  margin-bottom: 15px;
  display: block;
  margin-left: 70px;
  font-size: 13px;
  font-weight: 200;
  letter-spacing: 1px;
}

.about-simple-content .marked:before {
  content: '';
  position: absolute;
  top: 50%;
  left: -70px;
  width: 50px;
  height: 1px;
  background: #111;
  transform: translateY(-50%);
}



.about-simple-content h1 {
  font-size: 38px;
  font-weight: bold;
  color: #111;
  margin-bottom: 35px;
}

.about-simple-content h4 {
  font-size: 20px;
  font-weight: 600;
  color: #111;
  margin-bottom: 30px;
}

.about-simple-content p {
  font-size: 14px;
  line-height: 25px;
}

.about-simple-content .btn {
  background: #007575;
  color: #fff;
  display: inline-block;
  padding: 16px 35px;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.9px;
  border-radius: 0;
}

/* End About */

/* Strat Team Style */
.qodef-e-media-image img {
  width: 100%;
}

.team-box {
  margin: 0 10px;
}

.section-title {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #111;
}

.teams-wrapper .team-box {
  margin-bottom: 30px;
}

.qodef-e-media-image {
  margin-bottom: 20px;
}

.team-box p.qodef-e-role {
  margin-bottom: 5px;
  font-size: 13px;
  color: #111;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  font-weight: 300;
}

.team-box h5.qodef-e-title.entry-title {
  color: #000;
  font-size: 18px;
  margin-bottom: 0;
  letter-spacing: 0.7px;
  font-weight: 600;
}

.qodef-e-team-item-holder {
  position: relative;
  overflow: hidden;
}

.qodef-e-team-social {
  transition: all .3s linear;
  position: absolute;
  top: -115px;
  left: -135px;
  background: #007575;
  height: 130px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}

.team-box:hover .qodef-e-team-social {
  top: -45px;
  left: -35px;
  opacity: 1;
  visibility: visible;
}

.qodef-team-member-social-icons {
  display: flex;
  column-gap: 14px;
  transform: rotate(-45deg);
  left: 15px;
  position: relative;
  top: 20px;
}

.qodef-team-member-social-icons a.qodef-team-member-social-icon {
  color: #fff;
}

/* End Team */

/* Start Video Style */
section.video {
  min-height: 450px;
  position: relative;
}

section.video .video-play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section.video .video-play-btn button.video-play {
  position: relative;
  height: 190px;
  width: 190px;
  border: 1px solid #fff;
  border-radius: 190px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.video .video-play-btn button.video-play i {
  background: #007575;
  height: 100px;
  width: 100px;
  border-radius: 100px;
  color: #fff;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* End Video */

/* Start News Style */
.new-media-image a img {
  width: 100%;
}

.new-inner {
  position: relative;
}

.qodef-image-date {
  position: absolute;
  top: 0;
  left: 0;
}

.new-info-item.new-info-date {
  background: #007575;
  color: #fff;
}

.new-info-item.new-info-date svg rect:first-of-type {
  stroke: white;
}

.new-info-item.new-info-date svg {
  fill: white;
}

.new-info-item.new-info-date a {
  font-size: 12px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 2px 20px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}

.new-media-image {
  margin-bottom: 20px;
}

.blog-item .new-text .new-title {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  color: #111;
  letter-spacing: 0.6px;
}

.blog-item .new-text p.new-excerpt {
  margin: 13px 0 8px;
  font-size: 15px;
  line-height: 25px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  min-height: 50px;
}

.blog-item .new-info .new-read-more a {
  text-transform: uppercase;
  color: #111;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 600;
  position: relative;
}

.blog-item .new-info .new-read-more {
  margin-top: 25px;
}

.blog-item .new-info .new-read-more a:before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #007575;
}

.latest-news {
  padding-bottom: 120px;
}

.latest-news .slick-slide>div {
  margin: 0 10px;
}

.latest-news .slick-list {
  margin: 0 -10px;
}

.latest-news ul.slick-dots {
  bottom: -50px;
}

.blog-image-box img {
  width: 100%;
}

.blog-image-box {
  margin-bottom: 20px;
}

.blog-content-box>h1 {
  font-size: 38px;
  font-weight: bold;
  color: #111;
  letter-spacing: 0.4px;
  margin-bottom: 20px;
  display: block;
}

.blog-content-box h1::first-letter {
  text-transform: uppercase;
}

.blog-content-box p:first-of-type:first-letter {
  font-size: 30px;
  text-transform: capitalize;
}

.blog-content-box ul,
.blog-content-box ol {
  padding: 20px;
  margin: 20px;
}

.blog-content-box ul li,
.blog-content-box ol li {
  margin-bottom: 11px;
}

.blog-content-box ul {
  list-style: disc;
}

.blog-content-box ol {
  list-style: decimal;
}

/* End News */

/* Footer Style */
footer.site-footer {
  background: #000;
  padding: 80px 0;
}

footer.site-footer .big-word p {
  color: #fff;
  margin: 0;
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
}

.mid-part {
  margin: 60px 0;
  display: flex;
  justify-content: space-between;
}

footer a:hover {
  color: #fff;
}

footer .footer-list h5 {
  font-size: 19px;
  line-height: 24px;
  letter-spacing: -.02em;
  font-weight: 600;
  color: #969696;
  margin-bottom: 17px;
}

footer .footer-list ul li a {
  color: #fff;
  font-size: 16px;
}

footer .footer-list ul li {
  margin-bottom: 10px;
}

.footer-logo a img {
  height: 80px;
}

footer .footer-list ul li:last-of-type {
  margin-bottom: 0;
}

.footer-list.footer-social-list ul {
  display: flex;
  column-gap: 20px;
}

footer.site-footer .bottom-part ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer.site-footer .bottom-part ul p {
  margin: 0;
}

footer.site-footer .bottom-part ul li {
  font-size: 12px;
}

/* End Footer */

/* Start Contact Style */
.contact-form form .col-6 {
  border: 1px solid #b7b7b7;
  padding: 0;
}

.contact-form form .form-group input {
  border: none;
  background: transparent;
  height: 60px;
  outline: none;
  padding: 0px 30px;
  width: 100%;
  font-size: 14px;
}

.contact-form form .col-6:first-of-type {
  border-right: 0;
}

.contact-form form .col-12 {
  border: 1px solid #b7b7b7;
  padding: 0;
  border-top: 0;
}

.contact-form form .col-12 textarea {
  border: none;
  width: 100%;
  height: 180px;
  background: transparent;
  padding: 20px 30px;
  font-size: 14px;
  outline: none;
  resize: none;
}

.contact-us-section .section-title h2 {
  font-size: 42px;
  margin-bottom: 20px;
}

.contact-us-section .section-title {
  margin-right: 70px;
}

.contact-us-info ul {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.contact-us-info ul li {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.contact-form form .col-9 .form-group {
  margin-top: 40px;
}

.contact-form form .col-9 {
  padding: 0;
}

.contact-form form .col-9 .form-group .btn {
  background: #007575;
  border-radius: 0;
  color: #fff;
  padding: 13px 40px;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* End Contact */


/* Strat News Page */
.news-page {
  padding: 100px 0 200px 0;
  background: #edebe9;
}

.news-page .blog-item {
  margin-bottom: 30px;
  background: #fff;
  box-shadow: -2px 6px 7px 10px #1111;
}

.news-page .blog-item .qodef-image-date {
  position: unset;
  top: unset;
  left: unset;
}

.news-page .blog-item .qodef-image-date .new-info-item.new-info-date {
  background: transparent;
  color: #000;
}

.news-page .blog-item .qodef-image-date .new-info-item.new-info-date svg {
  fill: #000;
}

.news-page .blog-item .qodef-image-date .new-info-item.new-info-date svg rect:first-of-type {
  stroke: #000;
}

.news-page .blog-item .qodef-image-date .new-info-item.new-info-date a {
  padding: 0;
  margin-bottom: 5px;
}

.news-page .blog-item .new-content {
  padding: 0 20px 20px;
}

.news-page .blog-item .new-text .new-title {
  font-size: 18px;
  line-height: 23px;
}

.news-page .blog-item .new-info .new-read-more {
  margin-top: 10px;
}

.news-page .blog-item .new-text p.new-excerpt {
  margin-bottom: 0;
  opacity: 0.7;
}

.news-slider .blog-item {
  background-color: #fff;
}

.news-slider .blog-item .new-content {
  padding: 0 15px 15px;
}

figcaption {
  background: #eee;
  padding: 10px;
  font-weight: bold;
  letter-spacing: 0.6px;
  color: #111;
  width: 100%;
}

figure img {
  width: 100%;
}




.blog-content-box p {
  margin-bottom: 20px;
  color: #323432;
}

.blog-content-box a {
  transition: all .3s linear;
  background: #333;
  color: #fff;
  padding: 2px 9px;
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid #111;
  letter-spacing: 1px;
}

.blog-content-box a:hover {
  background: #d1d1d1;
  color: #111;
  text-decoration: underline;
  border: 1px solid #9b9b9b;
}

.blog-content-box h2 {
  color: #222;
  font-weight: bold;
  font-size: 25px;
  margin-top: 20px;
  display: inline-block;
}

.blog-content-box h3 {
  color: #222;
  font-weight: bold;
  font-size: 22px;
  margin-top: 20px;
  display: inline-block;
}

blockquote {
  background: #ebebeb;
  padding: 30px;
  font-size: 18px;
  font-style: italic;
  color: #111;
}

































/* Admin Styles */
.admin-layout-wrapper .container-fluid {
  padding: 0 120px;
}

aside.admin-sidebar {
  width: 300px;
  background: #333;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

aside.admin-sidebar .logo-area {
  padding: 20px;
}

aside.admin-sidebar .logo-area a img {
  width: 80%;
}

aside.admin-sidebar .logo-area a {
  display: block;
  width: 100%;
  text-align: center;
}

aside.admin-sidebar .sidebar-copyright {
  margin: 0;
  color: #fff;
  text-transform: capitalize;
}

.admin-layout-wrapper {
  display: flex;
}

.admin-layout-wrapper .admin-page-contnet {
  flex: 1;
  overflow: hidden;
  height: 100vh;
}

aside.admin-sidebar ul {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
}

aside.admin-sidebar ul li a.active {
  background: #fff;
  color: #111;
}

aside.admin-sidebar ul li a:not(.active):hover {
  background: #858585;
  color: #e1e1e1;
}

aside.admin-sidebar ul li a {
  font-size: 15px;
  font-weight: 500;
  color: #e1e1e1;
  transition: all .3s linear;
  padding: 10px 13px;
  background: #858585af;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}

.admin-page-contnet .container {
  max-width: 1140px;
}

.InovuaReactDataGrid__cell__content {
  height: 100%;
}

.quill .ql-container {
  height: 400px;
  overflow: hidden;
  display: block;
  margin-bottom: 40px;
}

.admin-layout-wrapper .admin-page-contnet>div {
  padding: 50px 0;
  height: 100vh;
  overflow-y: scroll;
}

.blog-edit-form form .form-group {
  margin-bottom: 15px;
}

.blog-edit-form form .form-group input {
  background: #fbfbfb;
  width: 100%;
  height: 58px;
  padding: 0 15px;
  border: 1px solid #ccc;
}

.blog-edit-form form .form-btn-group button {
  background: #111;
  color: #fff;
  display: inline-block;
  padding: 10px 40px;
  border: 1px solid #111;
  transition: all .3s linear;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 14px;
}

.blog-edit-form form .form-btn-group button:hover {
  background: transparent;
  color: #111;
}

.page-top-header {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
}

.admin-page-contnet .team-box {
  margin: 0;
  margin-bottom: 40px;
}

.admin-section-title h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #171819;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.admin-section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin-section-title a,
.admin-section-title button {
  background: #333;
  color: #fff;
  padding: 8px 20px;
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all .3s linear;
  border: 1px solid #333;
}

.admin-section-title a:hover,
.admin-section-title button:hover {
  background: transparent;
  color: #333;
}

.admin-section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin-section-title a {
  background: #333;
  color: #fff;
  padding: 8px 20px;
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all .3s linear;
  border: 1px solid #333;
}

.admin-section-title a:hover {
  background: transparent;
  color: #333;
}

.qodef-e-inner {
  position: relative;
  overflow: hidden;
}

.admin-btns {
  position: absolute;
  z-index: 3;
  background: #222;
  top: 0;
  right: -40px;
  display: flex;
  flex-direction: column;
  transition: all .3s linear;
  opacity: 0;
  visibility: hidden;
}

.admin-btns .btn {
  width: 40px;
  color: #fff;
  height: 40px;
}

.admin-btns .btn:first-of-type {
  border-bottom: 1px solid #fff;
  border-radius: 0;
}

.admin-btns .btn i {
  font-size: 12px;
}

.team-box:hover .admin-btns {
  opacity: 1;
  right: 0;
  visibility: visible;
}

.add-new-member .form-group input {
  width: 100%;
  height: 50px;
  padding: 0 10px;
  border: 1px solid #ccc;
  background: #f6f6f6;
}

.add-new-member .form-group label {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 5px;
  letter-spacing: 0.7px;
}

.add-new-member .form-group {
  margin-bottom: 30px;
}

.form-group.image-uploader-area img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  max-height: 580px;
  object-fit: cover;
}

.form-group.image-uploader-area .drag-box {
  text-align: center;
}

.image-uploader-area {
  position: relative;
}

.upload__image-wrapper {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 260px;
  display: flex;
  flex-direction: column;
}

.drag-box {
  width: 100%;
}

.drag-box span {
  color: #171819;
  text-transform: capitalize;
  display: block;
  font-size: 14px;
  background: #959595b5;
  border-radius: 400px;
}

.drag-box button,
.image-item__btn-wrapper button {
  background: #111;
  color: #fff;
  border: none;
  padding: 4px 20px;
  display: inline-block;
  margin-top: 6px;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.form-submit .btn {
  background: #111;
  border-radius: 0;
  padding: 12px 30px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
}

.map iframe {
  width: 100%;
  height: 500px;
}

button.delete-btn {
  width: 33px;
  background: red;
  border: none;
  color: #fff;
  border-radius: 4px;
  transition: all .3s linear;
}

button.delete-btn:hover {
  background: #b32633;
}

a.edit-btn {
  width: 33px;
  display: inline-block;
  background: #007575;
  color: #fff;
  border-radius: 4px;
  transition: all .3s linear;
}

a.edit-btn i,
.delete-btn i {
  font-size: 14px;
}

.site-information-form .form-group {
  margin-bottom: 20px;
}

.site-information-form .form-group input {
  width: 100%;
  height: 58px;
  background: #fbfbfb;
  border: 1px solid #ccc;
  padding: 0 20px;
  font-size: 16px;
  text-transform: lowercase;
}

.site-information-form .form-group label {
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
  color: #111;
  padding-bottom: 3px;
  position: relative;
}

.site-information-form .form-group label:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 2px;
  background: #d1d1d1;
}

.site-information-form .form-group textarea {
  width: 100%;
  min-height: 100px;
  background: #fbfbfb;
  border: 1px solid #ccc;
  padding: 10px 20px;
  font-size: 16px;
  text-transform: lowercase;
  resize: none;
}

.site-information-form .form-btn-group {
  margin-bottom: 0;
  text-align: center;
}

.site-information-form .form-btn-group .btn {
  background: #111;
  color: #fff;
  border-radius: 2px;
  padding: 10px 30px;
  display: inline-block;
}